[2018-02-04 12:03] vardius opened #1 "Makefile **all-*` command syntax error"
Makefile **all-*` command needs to be fixed

https://github.com/vardius/go-api-boilerplate/blob/master/Makefile#L5
[code]

[2018-02-06 11:48] vardius commented on #1
1c314e11a6d744c6945e6a12db71dee5d99d0fba

Is it working ?

[2018-02-08 05:45] vardius opened #2 "acme/autocert: server name component count invalid"
# Info

You will get following **apiserver** error:
`apiserver     | 2018/02/08 05:39:13 http: TLS handshake error from 172.22.0.1:42158: acme/autocert: server name component count invalid`

This is because Letsencrypt [cannot issue certificates for localhost](https://community.letsencrypt.org/t/can-i-test-lets-encrypt-client-on-localhost/15627)

[2018-02-08 10:40] vardius opened #3 "the connection to userserver is down for some reason"
When client tries to **dial** a server we get following error:

[code]

This error means the connection to **userserver** is down for some reason, beside the fact the server tells us it is running without error

`2018/02/08 07:03:37.603287 INFO: [userserver] running at localhost:3001`

[2018-02-13 07:51] vardius commented on #3
fixed with 8b44d552e5c3c54647d06eafd7dd0cf7d79df0c9

[2018-02-13 07:51] #3 closed

[2018-02-16 00:11] vardius opened #5 "Return error here"
https://github.com/vardius/go-api-boilerplate/blob/5904fbacae9d776183db4b635b683ca6d84140df/internal/user/repository.go#L18

[2018-02-16 01:17] vardius commented on #5
done

[2018-02-16 01:17] #5 closed

[2018-02-16 01:24] vardius opened #6 "Add GAE deploy command to Makefile"
For now we have only AWS EC2 deploy part we need Google AE as well

[2018-02-16 01:31] vardius opened #7 "docker-compose grpc error"
gRPC client-server connection is broken when running with docker-compose
When a client tries to dial server `TLS handshake error from 172.22.0.1:34824: tls: oversized record received with length 21536`

we need to fix containers setup

[2018-02-16 01:31] vardius commented on #7
issue only exist on docker-compose containers

[2018-02-18 21:40] vardius commented on #6
https://cloud.google.com/kubernetes-engine/docs/tutorials/hello-app

[2018-09-06 12:47] #7 closed

[2018-09-06 12:47] #1 closed

[2018-11-12 22:57] vardius commented on #6
Makefile contains kubernetes deployment commands

[2018-11-12 22:57] #6 closed

[2019-01-19 12:15] vardius commented on #2
not applicable anymore due to https://github.com/vardius/go-api-boilerplate/commit/00da58e3501fd666c6be3d055d0853743449549e

[2019-01-19 12:15] #2 closed

[2019-06-23 02:39] vardius opened #13 "Use helmfile"
https://github.com/roboll/helmfile

[2019-06-30 04:44] vardius opened #15 "Documentation"
# If
1. You have some questions
2. You had a problem with setup
3. You had a problem with configuration
4. You don't know how to do something
5. Have ideas or propositions
6. Think something could be explained better/in more details

Let me know so I can update [documentation](https://github.com/vardius/go-api-boilerplate/wiki), allowing other ppl get over same issues faster.
Please comment here a

[2019-10-10 18:23] jsha opened #18 "Please default to self-signed issuer with cert-manager"
Hi,

I'm an engineer at Let's Encrypt. I've noticed we are getting spammed by clients using the default config at https://github.com/vardius/go-api-boilerplate/blob/ed45dac1f313c236f293575c98feff1e0da169f6/helm/app/values.yaml to repeatedly attempt issuance for "go-api-boilerplate.local" (invalid name) with an email address of "example@gmail.com" (also invalid).

I'd like to request that you switc

[2019-10-12 12:28] vardius commented on #18
Thanks for letting me know, will update default config.

[2019-10-12 12:31] vardius commented on #18
https://github.com/vardius/go-api-boilerplate/commit/7f9f7e5c561f187da1364f9549f35b0018354962

[2019-10-12 13:03] vardius commented on #18
Switch to a self-signed issuer for default config https://github.com/vardius/go-api-boilerplate/commit/352e37275821216c1ab6159306c2abcb51394fa6

<img width="590" alt="image" src="https://user-images.githubusercontent.com/6569206/66701851-6fc52800-ed4c-11e9-8971-0dae74ed46d2.png">

I am closing this issue, please reopen if there is anything else related to this matter. Cheers.

[2019-10-12 13:03] #18 closed

[2019-11-01 11:21] vardius opened #19 "Temporary SSL issues in MacOS Catalina"
https://github.com/jetstack/cert-manager/issues/2168

[2019-11-25 16:43] oliwerhelsen opened #21 "Keep getting this error when running make helm-install. Any idea?"
make helm-install
[code]

[2019-11-25 21:56] oliwerhelsen commented on #21
[code]

[2019-11-25 21:56] #21 closed

[2019-11-26 03:11] vardius commented on #21
Hi @oliwerhelsen thanks for letting me know, maybe you wish to contribute and would like to update readme/wiki pages ?

also what helm version are you using ?

[2019-12-17 19:07] mar1n3r0 commented on #15
Hello and thanks for the fantastic boilerplate. I am using it for a starter point for my own project and currently testing with minikube locally.
I will try to summarize my discoveries so far:
1. After the breaking changes with apiVersion with kubernetes 1.16 onwards some of the helm charts don't work for me since they were not updated according to the guidelines.
See: https://kubernetes.io/blog/2

[2019-12-17 21:17] vardius opened #22 "Kubernetes 1.16 API breaking changes"
Hello and thanks for the fantastic boilerplate. I am using it for a starter point for my own project and currently testing with minikube locally.
I will try to summarize my discoveries so far:
1. After the breaking changes with apiVersion with kubernetes 1.16 onwards some of the helm charts don't work for me since they were not updated according to the guidelines.
See: https://kubernetes.io/blog/2

[2019-12-17 21:18] vardius commented on #22
Thank you @mar1n3r0 for bringing my attention to this, to narrow down the specifics of it, can you tell me if this happens on a fresh clone of this repository, and if not have you tried using `make helm-dependencies` (I am not sure if this will do anything if chart templates are outdated) ?

I will try to reproduce/debug this myself today or tomorrow after work. Will share my experience soon.

Pos

[2019-12-17 21:23] mar1n3r0 commented on #22
Most welcome. It happens on a fresh clone following the install instructions as per the guide. I am running make-helm-dependencies before make helm-install.

I have the option to lock the kubernetes version in minikube so now I am testing with v1.14.10 which is the latest before the new API. This results in CrashLoopBackOffs for quite a lot of containers. Most of them seem to be due to service acc

[2019-12-17 21:45] vardius commented on #22
I will let you know asap, can't verify this right now as I am on my work station. However once I get home I will let you know exact version of Kubernetes cluster I've got and if that issue happens. (I suppose it will). Right now I can tell you that I've been using [Docker for Mac with Kubernetes](https://docs.docker.com/v17.12/docker-for-mac/install/).

[2019-12-18 10:13] mar1n3r0 commented on #22
Yeah my bad I overlooked that. I will try all major versions between 1.11 and 1.14.10 on a fresh clone and report back.

[2019-12-18 23:17] vardius commented on #22
All the tests I have performed was locally only, deploying to my local Kubernetes cluster.

It is better to use specific version instead of `migrate/migrate:latest` this way any breaking change will not impact boilerplate itself. Maybe `migrate/migrate:v4.7.1` ?

I believe some helm chart templates need to be updated to fix Kubernetes 1.16 API breaking changes. Following the tips in the article yo

[2019-12-19 12:32] mar1n3r0 commented on #22
I belive it should be `cert-manager.io/v1alpha2`. See:
[cert-manager](https://github.com/Kong/kubernetes-ingress-controller/issues/431)

This one is fine, the ingress object definition didn't change.

I belive it should be cert-manager.io/v1alpha2. See:
cert-manager

I think all these remain with a tag v1 as there were no warnings about them.

This one is apps/v1 yes.

[2019-12-19 21:29] vardius commented on #22
The migrations directory is not copied to the final image

[code]

Doing so should solve the issue, with migrations

[2019-12-20 11:17] mar1n3r0 opened #23 "Init containers migration failing"
The migrations directory is not copied to the final image. Expected migration files for example `auth` service
https://github.com/vardius/go-api-boilerplate/blob/20fe02936f82db7d723f33ebfbc69092dc42226d/helm/app/values.yaml#L184
Copied files are:
https://github.com/vardius/go-api-boilerplate/blob/20fe02936f82db7d723f33ebfbc69092dc42226d/cmd/auth/Dockerfile#L38
Doing so should solve the issue, with

[2019-12-20 13:28] vardius commented on #23
@mar1n3r0 do you want to create a pull request with a fix for it ? ofc if it works, i havent tested it yet.

[2019-12-20 13:36] mar1n3r0 commented on #23
@vardius Same error still after rebuilding the images.

[2019-12-20 13:48] vardius commented on #23
Ok, I will have a look tmr morning, now going to sleep. Let me know which parts you want to create pull requests for, so our work does not duplicates :)

[2019-12-20 13:52] mar1n3r0 commented on #23
Sure thing basically once this is resolved I will open a PR with all the changes I needed to make it work on Kubernetes v1.14.10 thus far so we can adjust the docs accordingly.

[2019-12-20 23:27] vardius opened #24 "Helm 3 doesn't create namespace"
https://github.com/helm/helm/issues/5753

[2019-12-21 02:06] vardius commented on #22
I did some fixes at this pr https://github.com/vardius/go-api-boilerplate/pull/25. Please verify if it matches your changes.

[2019-12-21 02:06] vardius commented on #23
I did some fixes at this pr https://github.com/vardius/go-api-boilerplate/pull/25. Please verify if it matches your changes.

[2019-12-21 02:06] vardius commented on #24
Disabled custom namespaces at: https://github.com/vardius/go-api-boilerplate/pull/25

[2019-12-21 02:13] vardius commented on #23
I did some fixes at this pr https://github.com/vardius/go-api-boilerplate/pull/25. Please verify if it matches your changes.

# My dev env versions
[code]
[code]

# Testing flow
The way I test is maybe not the fastest and optimal but the steps I follow are:
1. Build local images:
[code]
2. Install
Assuming you already have cert manager up to date
https://github.com/vardius/go-api-boilerplate#insta

[2019-12-21 10:02] mar1n3r0 commented on #23
Yep the testing flow is the same. I have opened a PR: #26.

[2019-12-21 14:16] mar1n3r0 commented on #23
@vardius The problem with user service remains though: `no migration found for version 1562371201error: file does not exist.`
The strange thing is the version number is for the auth service but produced in the user init so I am not sure what's going on.
The kubernetes-dashboard service also fails to start with the following message:
`2019/12/21 14:14:56 Storing encryption key in a secret
panic: se

[2019-12-21 23:49] vardius commented on #23
https://github.com/vardius/go-api-boilerplate/pull/26#discussion_r360673069

[2019-12-21 23:51] vardius opened #27 "kubernetes-dashboard service fails to start"
The kubernetes-dashboard service also fails to start with the following message:

`2019/12/21 14:14:56 Storing encryption key in a secret
panic: secrets is forbidden: User "system:serviceaccount:go-api-boilerplate:kubernetes-dashboard" cannot create resource "secrets" in API group "" in the namespace "kube-system"`

_Originally posted by @mar1n3r0 in https://github.com/vardius/go-api-boilerplate/i

[2019-12-21 23:55] vardius commented on #22
Split into more granular issues:

https://github.com/vardius/go-api-boilerplate/issues/24
https://github.com/vardius/go-api-boilerplate/issues/27

[2019-12-22 00:13] vardius commented on #23
@mar1n3r0 something like this would be perfect

- one (same) migration service for use as init container
- decoupled migration files (each service has its own)

[Example setup](https://github.com/vardius/go-api-boilerplate/pull/25/commits/63f443dd52714f02b93dae5a0c610b1a6fe07e80)

I think it should work with your change here https://github.com/vardius/go-api-boilerplate/blob/32f363c01b6b068b9d09a4

[2019-12-22 12:38] vardius commented on #22
Fixed
https://github.com/vardius/go-api-boilerplate/pull/26
https://github.com/vardius/go-api-boilerplate/pull/27

[2019-12-22 12:38] #22 closed

[2019-12-22 12:38] vardius commented on #23
Fixed:
https://github.com/vardius/go-api-boilerplate/pull/26
https://github.com/vardius/go-api-boilerplate/pull/27

[2019-12-22 12:38] #23 closed

[2019-12-22 12:38] vardius commented on #27
Fixed:
https://github.com/vardius/go-api-boilerplate/pull/27

[2019-12-22 12:39] vardius commented on #24
Split namespace creation and app charts deployment into two seperate flows
https://github.com/vardius/go-api-boilerplate/pull/27

[2019-12-22 12:39] #24 closed

[2019-12-22 12:41] vardius opened #28 "User service fails to start"

[2019-12-22 22:13] vardius commented on #28
https://github.com/vardius/go-api-boilerplate/pull/32

[2019-12-22 22:13] #28 closed

[2019-12-24 12:38] mar1n3r0 opened #33 "cert-manager - unknown field "acme" in io.cert-manager.v1alpha2.Certificate.spec"
On fresh clone and install CRDs installed, happens right after make helm-install:

`Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Deployment" in version "extensions/v1beta1", error validating "": error validating data: ValidationError(Certificate.spec): unknown field "acme" in io.cert-manager.v1alpha2.Certificate.spec]
`

[2019-12-24 12:56] vardius commented on #33
Did you try to update dependencies?

[2019-12-24 15:15] mar1n3r0 commented on #33
Yeps all usual except I run it on Kubernetes 1.17.0 now.

[2019-12-24 16:11] mar1n3r0 commented on #33
I think this fixes it, but have no idea why magic-namespace was pulled in helm/app once it was removed from requirements.lock, since it has been moved to helm/namespace #34

[2019-12-24 18:52] mar1n3r0 opened #35 "404 page not found/503 Service Temporary Unavailable"
Followed that setup:
https://kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/

Browser request:
`https://go-api-boilerplate.local/users?page=1&limit=10`

Browser response:
`404 page not found/503 Service Temporary Unavailable`

HTTP response:
[code]

HTTPS response:

[code]

[2019-12-24 20:41] vardius commented on #35
The correct URL is `https://go-api-boilerplate.local/users/v1?page=1&limit=10`. Note the `v1` in the URL path. Can you please let me know where in docs did you get that URL from ? So we can update.

[2019-12-24 20:42] vardius commented on #33
Merged #34. Please close if no longer valid.

[2019-12-24 20:42] mar1n3r0 commented on #35
Yeah it seems that the underlying links behind the hrefs are the old ones without v1.

[2019-12-24 20:44] #33 closed

[2019-12-24 20:53] vardius commented on #35
Updated hrefs https://github.com/vardius/go-api-boilerplate/commit/1a175d37f311e57f2f6f0b449912ddc7ff53ab66

[2019-12-24 20:56] vardius commented on #35
Are you using Safari ? Works for me with Chrome Version 79.0.3945.88 (Official Build) (64-bit).
Note it will not work with Safari because of https://github.com/vardius/go-api-boilerplate/issues/19

[2019-12-24 20:58] mar1n3r0 commented on #35
I am on Chromium 79.0.3945.88. Are you running it via minikube or some other local cluster tool ?

[2019-12-24 20:58] vardius commented on #35
Docker for mac

[2019-12-24 21:01] vardius commented on #35
If this is resolved, considering your experience with minikube. If I could kindly ask you to update Wiki pages with all steps how to run in on minikube ? Maybe create new page on Wiki ?

[2019-12-24 21:03] mar1n3r0 commented on #35
No worries once resolved I will provide all info and steps for the Wiki. I actually tried to update the cert-manager chart version today as it is still outdated on the Wiki and updated on the main page. How do I update the Wiki, I saw clone only, not fork ?

[2019-12-24 21:05] vardius commented on #35
I added the page. https://github.com/vardius/go-api-boilerplate/wiki/3.4.-Minikube
https://help.github.com/en/github/building-a-strong-community/about-wikis

Let me se if I can update this

[2019-12-24 21:07] vardius commented on #35
Once you accept invitations https://github.com/vardius/go-api-boilerplate/invitations

[2019-12-24 21:11] vardius commented on #35
Ok, I am off to the airport now. Will be back online on 29th. Good luck.

[2019-12-24 21:12] mar1n3r0 commented on #35
Cheers man, safe trip.

[2019-12-24 21:34] #35 closed

[2019-12-25 16:32] mar1n3r0 commented on #27
Reopening this as it's solvable if needed:
[kubernetes-dashboard-per-namespace](https://akomljen.com/installing-kubernetes-dashboard-per-namespace/)

In the case of minikube there is a built-in kubernetes-dashboard service so I would rather not use it to keep the cluster one pod lighter but in case Docker for Mac doesn't have it as a built-in feature we can fix it.

[2019-12-25 16:38] mar1n3r0 opened #36 "phpmyadmin - 503 service unavailable"
That's the last one to fix for now I think.

[2019-12-25 17:34] mar1n3r0 opened #37 "register-user-with-email - Unauthorized"
Looking at the router code it seems to be a public route just like list-users and get-user yet it's returning unauthorized just like me and change-email-address which are behind the firewall.

That seems like a fix: #38
I get HTTP status 201 Created, it's not saved to the database though.
[code]
The event was published but it seems like the event handler never subscribed.

Edit: The pubsub gRPC se

[2019-12-25 21:49] mar1n3r0 commented on #37
That seems to fix it: #38
I get HTTP status 201 Created, it's not saved to the database though.
[code]
The event was published but it seems like the event handler didn't pick it up.
No traces of `log.Printf("[EventHandler] %s\n", event.Payload)` in the logs.

[2019-12-27 19:18] mar1n3r0 opened #39 "request-access-token - oauth2: cannot fetch token: 404 Not Found/400 bad request"
[code]
That was fixed by #43 Add /v1 prefix to oauth2Config

The next one happening is:

user_logs:
[code]
auth_logs:
[code]

[2019-12-28 11:29] mar1n3r0 opened #40 "pubsub not subscribing to all topics but no errors"
Edit that fixes it I think: #44

Reference: [using-goroutines-on-loop-iterator-variables](https://github.com/golang/go/wiki/CommonMistakes#using-goroutines-on-loop-iterator-variables )

Tested with register-with-user-email so far:
[code]

Command and event buses publish but the event handlers are a hit or miss to be registered and subscribed for topics. Can't seem to find a pattern yet as to when

[2019-12-28 14:20] #37 closed

[2019-12-28 15:17] mar1n3r0 opened #41 "mixed data/state between services"
This actually happens very rarely and usually upon first launch of the cluster and goes back to normal after deletion of the pod(restart).
Can you please clarify if the user service is supposed to check by design the health of the auth service ?
user service logs:

[code]

[2019-12-29 07:44] mar1n3r0 commented on #36
Happens quite rarely and usually becomes ready eventually.

[2019-12-29 07:44] #36 closed

[2019-12-30 18:29] mar1n3r0 commented on #39
Fixed, it was happening locally due to not adjusting ports.

[2019-12-30 18:30] mar1n3r0 commented on #41
Haven't occurred ever since, closing for now.

[2019-12-30 19:54] #40 closed

[2019-12-30 20:47] mar1n3r0 commented on #41
Closing as it seems that I understand the logic now. The same health check is done for the database. It makes sense since users rely on auth.

[2019-12-30 20:47] #41 closed

[2020-01-01 05:12] vardius commented on #27
We do install dashboard for our namespace. Also it can be disabled if needed like this:

[code]

This applies to all charts, they can be disabled or enabled with `enabled: false` value.

[2020-01-01 05:17] vardius commented on #39
I suspect this happens because email address is missing in the event payload

[code]

Which is incorrect, should not happen, this should be fixed and on top of that we probably should add validation for data.

[2020-01-01 18:42] mar1n3r0 commented on #39
That should be fixing it: #45

I will try to add validation once all is merged.

P.S. Sorry for carrying all those old commits again into the PR, still trying to find my way around the best approach to keep it decoupled and progressing at the same time.

[2020-01-02 00:00] vardius commented on #39
Because we are using [CQRS](https://martinfowler.com/bliki/CQRS.html) patter, the way I think validation should be done is for value objects to validate incoming data.

So technically for example here:
[code]
each property should be a value object (VO), that validates data
[code]
this way you ensures that data passed to the events always conforms to the rules, i dont mind having different validati

[2020-01-02 08:04] vardius opened #46 "(WIP pending stable chart to be updated to 2.0.0) Kubernetes dashboard per namespace"
_Originally posted by @mar1n3r0 in https://github.com/vardius/go-api-boilerplate/issues/27#issuecomment-568914308_

We should update our `kubernetes-dashboard` chart values and install it only for our namespace

[2020-01-02 08:04] #27 closed

[2020-01-02 08:23] vardius commented on #39
For reference this issue happened due to aggregate root containing invalid state, where after fixing code invalid state remained causing app to break

[2020-01-02 19:12] mar1n3r0 commented on #46
Yes, that's the easy part, how about the role, role binding and the dashboard secret for our namespace ? In the tutorial they were provided manually:

[code]

[2020-01-02 19:31] mar1n3r0 commented on #39
Hm I got the impression that the trackChange and transition is getting the values from the messageBus and putting them onto the eventBus maybe I misunderstand the concept.

[2020-01-02 21:37] vardius commented on #46
Please fix errors

[code]

[2020-01-02 21:42] vardius commented on #46
We probably can twig this chart values to update our cluster role

https://github.com/vardius/go-api-boilerplate/blob/c5c1e24e849db96e28dc04de472f77b847d28ca3/helm/namespace/values.yaml#L13

[2020-01-02 22:28] vardius commented on #39
https://github.com/vardius/go-api-boilerplate/pull/44

[2020-01-02 22:30] vardius commented on #39
Works after merge https://github.com/vardius/go-api-boilerplate/pull/44  on a fresh cluster setup

[2020-01-02 22:30] #39 closed

[2020-01-03 15:46] mar1n3r0 commented on #46
[magic-namespace deprecation notice](https://github.com/helm/charts/tree/master/stable/magic-namespace#deprecation-notice)

I guess with that in mind we can completely remove magic-namespace from the flow and create the needed declarations.

[2020-01-03 16:33] mar1n3r0 opened #47 "Remove deprecated magic-namespace"
[magic-namespace deprecation notice](https://github.com/helm/charts/tree/master/stable/magic-namespace#deprecation-notice)

I guess with that in mind we can completely remove magic-namespace.

_Originally posted by @mar1n3r0 in https://github.com/vardius/go-api-boilerplate/issues/46#issuecomment-570610144_

[2020-01-03 20:11] mar1n3r0 commented on #47
#48

[2020-01-03 20:12] mar1n3r0 commented on #46
#49 WIP needs merging of #48 to proceed

[2020-01-08 13:00] vardius commented on #47
I merged both https://github.com/vardius/go-api-boilerplate/pull/49 and https://github.com/vardius/go-api-boilerplate/pull/48, however I dont understand why do we have https://github.com/vardius/go-api-boilerplate/blob/master/helm/app/templates/cluster-role-binding.yaml ? What is this used for ? If we have https://github.com/vardius/go-api-boilerplate/blob/master/helm/app/templates/dashboard-role-

[2020-01-08 13:04] vardius commented on #47
Maybe we should always create role ? and then use that role for dashboard ? Maybe add some if condition to template where if dashboard enabled we add additional rules ?

[2020-01-08 18:25] mar1n3r0 commented on #47
Yes we overly complicated it. Basically in order to create objects we need one service account for the namespace. This service account needs a role which is restricted to the namespace only and clusterrolebinding which is tied to the resources and rules.

I have put some notes this time around while fixing stuff:

[2020-01-09 22:17] vardius commented on #47
Should we close this one ? Since your pr is merged ?

[2020-01-10 07:32] #47 closed

[2020-01-12 05:35] vardius opened #51 "Add autoscaler?"
https://github.com/kubernetes/autoscaler

[2020-01-12 14:19] mar1n3r0 commented on #51
It's a must have one for production. I have used it as a built-in option with GKE in the past. Not sure how viable it is for local testing. Probably it would require switching from Minikube to [kind](https://kind.sigs.k8s.io/) to enable local multi-node support.

[2020-02-18 18:36] mar1n3r0 opened #52 "Input validation, sanitizing and form/multiform/files support, OAuth2 logic"
Continuing the topic here.

Maybe it's better to do the sanitizing and validation one step before.
If we ensure this happens in `BuildCommandDispatchHandler` where we still have the request instead of doing it later in the `NewCommandFromPayload` then the CQRS structs will always get the sanitized/validated data. The earlier the better, less data moving down the pipe.

This has the advantage that

[2020-02-20 01:14] vardius commented on #52
I don't mind having an additional layer, but still I believe VOs to be a source of truth. Most of times I use same VOs for commands and events, this way I ensure that events have always valid state as well.

Then for example if you want to replay or something like that, where the commands are excluded from the process you are sure the data is still correct, and technically should not cause any iss

[2020-02-21 10:07] mar1n3r0 commented on #52
It makes sense and also has native support in `govalidator` via the [govalidator Struct Validation](https://github.com/thedevsaddam/govalidator/blob/master/doc/STRUCT_VALIDATION.md).

I have tried to explore this idea further, it's only a demo for now: #53

Do you think that's a good approach to it, can we optimize further before proceeding with the rest of the cases and tests ?

[2020-03-03 07:24] vardius commented on #52
I have added oauth2 here for feature, in case of authenticating other external services agains our auth service, seems for me natural to use it for user authentication as well then. our services are authenticated agains auth service using static client as well.

authenticating using social auth gives us external token which we use later fetch user data and to obtain our oauth2 token which allows u

[2020-03-04 11:17] mar1n3r0 commented on #52
Yeah it makes perfect sense for when external services need the oauth2 server on our side.

For example: 45ebb3a68db284c09d4c262b707b408f2498fd59

Goth is basically standardizing the user profile data so we can all store it in users. The only difference between internal and external registration being that for internal we have a password and the userId field is not null only when it's external soc

[2020-03-04 21:06] mar1n3r0 commented on #52
Edit: A few things which I think are worth discussing. The original implementation of social auth was issuing our access token upon receiving the provider ones. This defeats the purpose of using oauth2 since we don't really use their token but rather issue ours if they send us theirs.

It turns out there is a way to validate their token like this:

[google-auth-id-token-verifier](https://github.co

[2020-03-05 00:12] vardius commented on #52
How I think **social auth** should work, considering we develop api - client infrastructure is:

- client (react, angular, vue, mobile app)  ask user for login, passes auth token to api (our boilerplate)
- our api fetches user info using auth token
- adds new user
- generates our ouath2 token
- sends emails with token for user to sign in (as a security step)

[2020-03-05 10:30] vardius commented on #52
@mar1n3r0 have a look at this, https://github.com/vardius/go-api-boilerplate/pull/58
some example on how i imagine value objects thing to look like

[2020-03-05 11:31] mar1n3r0 commented on #52
Looks very suitable for cqrs as you mentioned.

Probably I misunderstood the concept from the very start. So the client sends the clientId and the redirectUri and the api holds the clientSecret.

That makes sense now. When the callback receives the token we still need to validate the token once to ensure it is indeed coming from the provider since the callback is a public route and everyone can se

[2020-03-10 10:34] mar1n3r0 opened #59 ""x-www-form-urlencoded" to "json" conversion middleware for gorouter"
I am currently working on porting a "x-www-form-urlencoded" to "json" conversion middleware for gorouter: https://github.com/mar1n3r0/go-json-rest-middleware-formjson.

I will open a separate topic about that if you don't mind and think that it will be of significant use to the boilerplate overall.

_Originally posted by @mar1n3r0 in https://github.com/vardius/go-api-boilerplate/pull/58#issuecomme

[2020-03-10 10:36] mar1n3r0 commented on #52
We can close this one if you want. It become quite convoluted anyway ?

[2020-03-10 13:10] #52 closed

[2020-03-12 11:43] mar1n3r0 commented on #59
#60

[2020-03-12 12:21] vardius commented on #59
we should rename it from `internal` to `pkg` then
also what do you think if we refactor `RespondJSONError` a little bit ?

maybe we should make handlers return errors and then handle that error ? I don't know how it would work with router yet or if its good solution ? What do you think ?

[2020-03-12 12:24] vardius commented on #59
Shouldn't this be called somehow differently ? https://github.com/mar1n3r0/gorouter-middleware-formjson/blob/23077ef237c30909047406e789d35af985d8e718/formjson.go#L22

Its more like it does `toJson` or even `multipartFormToJson`

[2020-03-12 12:32] vardius commented on #59
https://github.com/vardius/go-api-boilerplate/pull/60#discussion_r391585556

[2020-03-12 12:33] mar1n3r0 commented on #59
I think it serves it purpose well for internal CLI error reporting. No complaints about that. For command payload response though I am replacing it with native e.ErrorMessage() since this is the response to the client.

The middleware doesn't handdle multipart as of yet, only urlencoded. Multipart can not be converted to JSON  as it is a blog and depends on the purpose of the whole application so

[2020-03-12 12:35] vardius commented on #59
We can create `pkg` directory and move stuff that can be reused there from https://github.com/vardius/go-api-boilerplate/tree/master/internal

in a new pull request

maybe all of them could be reused ? then we just rename dir ?

[2020-03-12 12:37] vardius commented on #59
maybe should push that ?

[2020-03-12 12:43] mar1n3r0 commented on #59
That should be the way to go.

I will try to cherry pick that.

[2020-03-12 12:45] vardius commented on #59
do you want to create a pr for it ?

or if you want me to do it I can do it over the weekend

[2020-03-12 12:46] mar1n3r0 commented on #59
I will create a PR for it no worries.

[2020-03-12 12:58] vardius commented on #59
Merged

[2020-03-12 12:58] #59 closed

[2020-03-12 13:27] mar1n3r0 opened #62 "[Done] Custom error message to client"
maybe should push that ?

_Originally posted by @vardius in https://github.com/vardius/go-api-boilerplate/issues/59#issuecomment-598162470_

#61

[2020-03-12 13:28] mar1n3r0 opened #63 "[In progress] Move internal/ packages to a pkg/ folder so they can be reused in external packages"
We can create `pkg` directory and move stuff that can be reused there from https://github.com/vardius/go-api-boilerplate/tree/master/internal

in a new pull request

maybe all of them could be reused ? then we just rename dir ?

_Originally posted by @vardius in https://github.com/vardius/go-api-boilerplate/issues/59#issuecomment-598161413_

[2020-03-12 20:58] vardius commented on #62
Merged

[2020-03-12 20:58] #62 closed

[2020-03-26 18:43] mar1n3r0 opened #65 "CORS HandlePreflight not generating any headers"
Stumbled upon this one:
[cors-preflight](https://github.com/rs/cors/issues/97)

[code]

Tried to replicate the solution with gorouter:

[code]

Is there an option we can actually assign 2 methods to a single route at the same time ?

[2020-03-26 19:30] mar1n3r0 commented on #65
Fixed, the solution was to add this to the POST route.

[code]

[2020-03-26 19:30] #65 closed

[2020-04-26 00:21] #63 closed

[2020-04-26 00:23] vardius commented on #46
I have removed dashboard from default setup. Came to conclusion to allow ppl to pick their own tools for management, like lens, k9s, or dashboard. Instead of forcing them to use preinstalled.

[2020-04-26 00:23] #46 closed

[2020-06-05 07:02] #13 closed

[2020-07-05 00:45] vardius opened #66 "Deleting namespaces"
Deleting namespace will stuck at *Terminating* state. More info here:  https://github.com/kubernetes/kubernetes/issues/60807

This happens only with CRDs. By deleting the CRD object, it gets in state were the objects owned by it were not deleted.
Temporary solution is to edit namespaces and empty finalisers.

Perform following:
1. Delete namespace
[code]
2. Dump namespace to json
[code]
3. Edit `t

[2020-07-16 13:17] #51 closed

[2020-09-16 19:13] hmersin opened #67 "Further docs needed"
Hi,

Thank you for the great repo. I think it has a lot of potential but I think it has a steep learning curve.

I would like to ask for an architectural documents, one that shows the components and one for the data flow. Also some docs about AWS ECR would be nice. I was able to generate images, tag and upload them to ECR but couldn't make k8s pull the images from ECR, I am guessing due to some do

[2020-09-16 19:14] #67 closed

[2020-09-16 19:14] hmersin commented on #15
Hi,

Thank you for the great repo. I think it has a lot of potential but I think it has a steep learning curve.

I would like to ask for an architectural documents, one that shows the components and one for the data flow. Also some docs about AWS ECR would be nice. I was able to generate images, tag and upload them to ECR but couldn't make k8s pull the images from ECR, I am guessing due to some do

[2020-09-17 14:28] vardius commented on #15
Hi @hmersin,

yes if your docker registry is private you need to add secret to your k8s so it can pull images
more info here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

as to brief explanation for the architectural concepts I can list some key points

- external communication (client-api)  -> **http**
- internal communication (between api's micro service

[2020-09-17 19:14] hmersin commented on #15
Thank you for the super fast response and the architectural explanation.

When I run `make helm-install` my pods start to fire up except the web one. I think if I putting the web section into the requirements.yaml will fix it.

Again thanks for the great work,

[2020-09-17 23:00] vardius commented on #15
@hmersin ohh yea very possible that is missing
if you improve/fix anything pr is welcome

[2020-09-21 01:25] luisliz commented on #15
Hello,
I'm trying to work with these locally but I don't understand how to do this, the only thing that I can successfully run are the docker-run BIN=. To develop would I use Helm or telepresence?

I'm also a bit confused about how a user is registered with email or is this not implemented?

p.s. Love the boilerplate, I hope to use it in a project if I can get the hang of it.

[2020-09-21 12:22] vardius commented on #15
Let me answer about user registration first:
it is designed to work as a password-less signup meaning that every time you want to login/signup you basically just provide an email address and get an Email message with a link which includes auth token, so after clinking the button you get logged in automatically.

Ofc this is only a boilerplate and I did it this way because it seems kind of trendy n

[2020-09-24 18:23] luisliz commented on #15
Thank you very much!

[2020-09-27 22:25] rizzla22 opened #68 "Other database providers"
Id love to use this with mongodb it would be great if there was an example or some db abstraction to make it easy to plug in another type

[2020-09-28 13:32] vardius commented on #68
current architecture is flexible enough and allows you to simply swap persistence layer.
to do do all you have to do is to add implementation of an interface

for example lets say you chose to store user current state for view models as you say using mongoldb
all you have to do is add/replace current mysql implementation here
https://github.com/vardius/go-api-boilerplate/tree/master/cmd/user/inter

[2020-09-28 19:56] rizzla22 commented on #68
Awesome, ill give it a go. I have a question, how do you start this project in development mode ? must it be run within docker containers ? is it possible to just hit some go file with go run ?

[2020-09-28 23:01] vardius commented on #68
you can absolutely run it like this:
[code]
https://github.com/vardius/go-api-boilerplate/blob/master/cmd/user/internal/application/config/env.go
it will use default values from env unless you override or set some in your system, you can do it like this:
[code]

[2020-10-03 15:03] mar1n3r0 opened #69 "rpc error: code = Unimplemented desc = unknown service"
Looking for advice... I am getting this when trying to make a gRPC call to a new service cloned from an existing one.
Wondering how could this be debugged as readiness and health checks are reporting all ok.

As far as I understand the gRPC server hasn't registered the service but no errors were reported at the time of starting.

Suspecting specifically this part: https://github.com/vardius/go-api

[2020-10-03 17:43] #69 closed

[2020-10-05 00:35] vardius commented on #69
@mar1n3r0 what was the issue ? might help other ppl struggling with the same thing

[2020-10-05 07:26] mar1n3r0 commented on #69
@vardius Forgot to add the connection to the init function: https://github.com/vardius/go-api-boilerplate/blob/eed90e76eb6582f602a6a9daa96adbdc2876097a/cmd/user/internal/application/config/env.go#L83

[2020-10-05 07:28] vardius commented on #69
thanks for sharing !

[2020-10-06 12:50] xtay315 commented on #15
we should put commands into application layer , domain layer should know nothing about transaction and db

[2020-10-06 12:59] vardius commented on #15
@xtay315 why commands ?

command are something you want system to do, and I believe they should be kept in the domain layer
commands are simply a DTOs and know nothing about transaction layer

I think we could move command handlers to application layer, but definitely not commands itself

[2020-10-06 14:34] xtay315 commented on #15
commands are simply a DTOs, it is not a domain concept. when a command go  into domain layer , you should translate it into domain concept (entity, vo, or agg).  a command just the contract/interface/api  of application facade.

[2020-10-06 22:05] vardius commented on #15
Could you maybe do a simple PR  ? Would be much easier for me to picture things in the head while reading the code

[2020-12-14 11:23] mar1n3r0 opened #71 "Create command from handler"
That's a curious but common use case where you have a webhook endpoint which is waiting on external events and is supposed to create commands once the expected event arrives. Since the commandDispatchHandler is tied to the router, could it be used decoupled from the HTTP request and fed params from a handler method?

[2020-12-27 21:31] beautyfree opened #72 "Invalid `spec.hostPath.path`"
`Error: failed to create resource: PersistentVolume "go-api-boilerplate-app" is invalid: spec.hostPath.path: Required value`

[2020-12-27 22:48] vardius commented on #72
could you share your values file ? its mysql part i think. if you havent changed anything can you please share your versions for k8s etc?

[2020-12-27 23:13] beautyfree commented on #72
i don't change anything and my values file same as https://github.com/vardius/go-api-boilerplate/blob/master/helm/app/values.yaml#L111

[2020-12-27 23:37] vardius commented on #72
what is your system version and docker version?

[2020-12-27 23:40] beautyfree commented on #72
@vardius
OS: macOs Big Sur 11.0.1 (20B50)
Docker: 20.10.0, build 7287ab3

[2020-12-28 19:04] vardius commented on #72
I will have a look on it as soon as i get a chance to get to my computer.

In the mean time you can research mysql helm chart options and play around with persistent volume settings.

https://github.com/helm/charts/tree/master/stable/mysql#persistence

[2020-12-29 06:23] vardius commented on #71
All you need is a command bus in your webhook handler to dispatch command
[code]

you could reuse https://github.com/vardius/go-api-boilerplate/blob/master/cmd/user/internal/interfaces/http/handlers/user.go#L22 but I suppose have dedicated handler would be a better solution as a webhook validation and security comes in place, other then that I think logic to build command like here https://github.

[2020-12-29 06:24] vardius commented on #72
let me know where you at with solving your issue, might be that we should update mysql chart used here as the one currently used is deprecated if I am reading this correctly. https://github.com/helm/charts/tree/master/stable/mysql#deprecation-notice

[2020-12-29 06:27] vardius commented on #72
Try updating [mysql values](https://github.com/vardius/go-api-boilerplate/blob/8e32c9babc9ac8786e1a69348e7b3b28e83b91cd/helm/app/values.yaml#L111) as follow

[code]

[2021-01-12 16:39] #71 closed

[2021-01-18 13:10] beautyfree commented on #72
@vardius thank you it works!

[2021-01-18 13:10] #72 closed

[2021-01-18 13:13] beautyfree commented on #15
@vardius interesting in pipeline of development. What is your development setup and how do you restart the service you are currently working on?

[2021-01-19 06:38] vardius commented on #15
This is only an example and is meant to be modified by other developers with adjustment for their needs.
However I do run it on my home Kubernetes cluster, and my setup in this case is simple.
In my case I have both mono repo (go-api-boilerplate) and additional other single service repositories, how it works that I am using GitHub Actions that are triggered by release, you can find examples here

[2021-01-19 13:44] bernadd opened #74 "Domain validations"
This seems like a really nicely structured repo for using go in microservices. However from reading around on ddd - domains layer I understand that some business logic (validation/business logic) should be applied on them and it should stick inside domain/aggregate itself and I can't see any examples of domain validation in this project/structure. Lets take as example domain job with "deadline", s

[2021-01-20 10:14] vardius commented on #74
Example of such validation would be user email address that this repository contains.

https://github.com/vardius/go-api-boilerplate/blob/e1ea4729958030646721737b44f3d3d6c6fc8889/cmd/user/internal/domain/user/email_address.go#L42

Idea behind it is to use value object to validate the incoming data of each command, in our email address example value object [EmailAddress](https://github.com/vardius/

[2021-02-09 11:58] vardius commented on #68
I have introduced memory service container as an example of how different persistence models could be handled.
Please have a look on this example for details:

https://github.com/vardius/go-api-boilerplate/blob/master/cmd/user/internal/application/services/services.go#L22

and appropriate service containers implementation. Give solution allows for easy switch between different persistence models w

[2021-03-04 15:45] #74 closed

[2021-03-12 23:51] omerdn1 commented on #15
@vardius hey bud. great work on this, I really appreciate it!

Are you familiar with [DevSpace](https://github.com/loft-sh/devspace)? I have been using their tools, specifically their cluster development features (including hot reloading), in some personal projects and I'm super happy with it.
I was wondering if you ever set it up on this environment and if you can help with the configuration of t

[2021-03-14 05:09] vardius commented on #15
Hi @omerdn1

thanks for asking, I am not familiar with it, thanks for sharing. I will look into it. I would also strongly encourage you to make try and integrate it with this boilerplate ? Any contributions are more then welcome!

[2021-06-17 07:19] #68 closed

[2021-07-03 04:18] vardius commented on #66
Works with terraform.

[2021-07-03 04:18] #66 closed

[2021-07-03 04:18] vardius commented on #19
No issue with terraform

[2021-07-03 04:18] #19 closed

[2021-07-03 07:29] mar1n3r0 opened #83 "Terraform - what does it bring to the table compared to the old setup?"
I can see Terraform is now part of the stack. What does it bring compared to the overhead and new dependencies it brings with it?

[2021-07-04 10:33] #83 closed

[2021-07-04 10:37] mar1n3r0 opened #84 "Using external gRPC clients"
Went quickly through the pubsub and pushpull setup. What do you think will be required to have event sourcing working with external gRPC clients ?

Also do you believe using third-party clients is conflicting with CQRS as a pattern since write and read would happen over gPRC?

[2021-07-04 16:31] mar1n3r0 commented on #84
Never mind, I saw that CQRS fully supports gRPC.

[2021-07-04 16:31] #84 closed

[2021-07-04 17:22] mar1n3r0 opened #85 "External gRPC client - subscribe to events"
Is it possible that we can connect an external gRPC client and subscribe it to event types the same way internal event handlers are subscribed via the eventbus ?

I saw the example with authClient being called from user event handler but this is injected and used from the service container.

`https://github.com/vardius/go-api-boilerplate/blob/master/cmd/user/internal/application/eventhandler/when_

[2021-07-04 17:28] mar1n3r0 commented on #85
Solved. Saw the example with user event handler calling authClient.

[2021-07-04 19:10] mar1n3r0 commented on #85
Got it, it can be injected in the service container.

[2021-07-04 19:10] #85 closed

[2021-07-16 05:01] chetanmeniyabacancy commented on #2
http: TLS handshake error from [::1]:45106: acme/autocert: server name component count invalid

[2021-07-16 06:17] vardius commented on #2
you are using localhost domain, therefore lets encrypt can not issue a certificate, change to self signed for localhost or setup custom domain fo our cluster which can be accessed by lets encrypt

[2021-07-20 11:32] ppusapati commented on #15
@vardius Thank you for the great work.

Can we integrate this with go-micro and nats?

[2021-07-23 02:37] vardius commented on #15
@ppusapati

would you like to submit a proof of concept as a new pr ?

[2021-08-19 12:17] talpa opened #89 "terraform apply"
I tried make terraform-install and result is

[code]
when I try command by comand then  by kubectl apply is result this...
[code]

[2021-08-28 03:29] vardius commented on #89
it tries to create a volume, make sure that mounted directory exists on the machine

[2021-10-05 02:56] shial4 opened #91 "This repo is dead"
Last release was a year ago 🤔

[2021-10-13 07:46] #91 closed

[2021-11-17 23:53] gopherstein commented on #89
For anyone having this issue. Just set the kube context in the terraform variable file to the context you want to use.

[2022-01-04 10:08] douyw opened #95 "panic: interface conversion"
panic: interface conversion: interface {} is user.WasRegisteredWithEmail, not *user.WasRegisteredWithEmail

goroutine 65 [running]:
github.com/vardius/go-api-boilerplate/cmd/user/internal/application/eventhandler.WhenUserWasRegisteredWithEmail.func1({0xada780, 0x4000283470}, 0x4000200880)
        /app/cmd/user/internal/application/eventhandler/when_user_was_registered_with_email.go:22 +0x374
githu

[2022-01-05 12:18] vardius commented on #95
I fixed the issue https://github.com/vardius/go-api-boilerplate/commit/1dca296ffc7d92f891b4dc4b7734ebfd37770453

but it would be good as well to update interface casting as well

[code]

[2022-01-07 05:50] douyw commented on #95
Thanks. I cloned the revised version. But sill no luck -- just the same error. I'm a golang newbie, but I guess the marshalling/unmarshalling does not work as expected, althougth the object factory had changed.

[2022-01-09 10:10] mar1n3r0 opened #96 "High availability use case"
Almost certain that this one is already covered but anyway it's an interesting topic I think.

[https://microservices.io/patterns/decomposition/self-contained-service.html](https://microservices.io/patterns/decomposition/self-contained-service.html)

If I understand this correctly we need two things:

1. Subscribe to events from other services
2. Query aggregated root of other services

Both of th

[2022-01-11 04:10] vardius commented on #96
I personally are most keen to use `CQRS and Saga patterns` approach

[2022-01-11 09:14] vardius commented on #95
This https://github.com/vardius/go-api-boilerplate/commit/1b87ca51e43c982963db378a4cc01582e314c16f should help, I missed it earlier

[2022-01-13 07:50] #96 closed

[2022-02-07 03:49] douyw commented on #95
Up and running. Thank you very much.

[2022-02-07 03:49] #95 closed

[2022-04-23 17:06] SDPyle opened #103 "Returning data through the command bus"
Hey brother! I want to first thank you for this awesome boilerplate. It's helped me immensely in starting my ES project. You are awesome!

I hope this isn't too naive a question (I've been working with golang for maybe 5 months or so), but I'm trying to return data to the user upon successful command executions (particularly an EventStoreDB commit position and sometimes the ID of a new aggregate r

[2022-04-30 10:40] vardius commented on #103
Hi @SDPyle sorry for late reply, I just noticed the issue. With the correct setup the flow is meant to be optimistic, which means that you return response to the user before event handler fires.

[2022-05-11 22:36] SDPyle commented on #103
Thank you sir!

[2022-05-11 22:36] #103 closed

[2022-07-19 01:32] SpareShade opened #106 "[question] domain pollution"
Hello @vardius

Thank you for sharing this library, it is very helpful in many regards!

My question is about your choice of appending the metadata in the aggregate itself. Eg.

[code]
Seeing the ```UserAgent``` or ```IP``` exposed in the aggregate feels a bit like pollution of a domain with application/infra data.
I understand that the aggregate essentially proxies this data from the command hand

[2022-07-20 04:14] vardius commented on #106
The reason why I did that is because with the message bus I am using the context is not carried over

[2022-07-22 02:47] SpareShade commented on #106
Thank you for getting back on this question.

But aren't the events handled first by the repository, which then publishes them to the event bus?
The repository should still have access to the request context, or is this not so.
[code]

I don't mean to nitpick. I'm just drawing a lot from your code (very nicely written too), and want to see whether there are potential pitfalls in my implementation/

[2022-07-22 04:46] SpareShade commented on #106
Yes, I can absolutely, glad you agree :).

I am tied up atm, but should have a gap next weekend, it won't be too long in any case :)

[2022-07-22 05:37] vardius commented on #106
ok cool, will w8 ;)